<div id="__next">
  <div>
    <main style="min-height:100vh">
      <div aria-hidden="true" class="MuiBackdrop-root mui-style-n8b77x-navBackdrop" style="opacity:0;visibility:hidden">
        <button class="MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeMedium mui-style-1xceuki" tabindex="0"
                type="button">
          <svg class="MuiSvgIcon-root MuiSvgIcon-colorWhite MuiSvgIcon-fontSizeInherit mui-style-1cw4hi4"
               focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CloseIcon">
            <path
              d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
          </svg>
        </button>
        <form method="GET">
          <div class="MuiBox-root mui-style-70qvj9"><input type="text" name="s" class="mui-style-mtisoz-searchInput"
                                                           placeholder="Search..." value=""/>
            <div class="MuiBox-root mui-style-1baulvz">
              <button
                class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorWhitish MuiIconButton-sizeMedium mui-style-1gpb3ti"
                tabindex="0" type="button" style="font-size:32px">
                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit mui-style-1cw4hi4" focusable="false"
                     aria-hidden="true" viewBox="0 0 24 24" data-testid="SearchIcon">
                  <path
                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div
        style="background-image:url('/assets/static/images/news.jpg');background-position:center center;background-repeat:no-repeat;background-size:cover;padding:100px 50px;position:relative;min-height:326px">
        <div
          style="background-color:transparent;background-image:linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);opacity:0.62;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;height:100%;width:100%;top:0;left:0;position:absolute"></div>
        <div class="MuiContainer-root MuiContainer-maxWidthLg mui-style-1qsxih2" style="position:relative">
          <div class="MuiGrid-root MuiGrid-container mui-style-1d3bbye">
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 mui-style-iol86l">
              <div class="MuiBox-root mui-style-kbn7if"><h2
                class="MuiTypography-root MuiTypography-h2 MuiTypography-gutterBottom mui-style-1leyngk">News about our
                business, growth and people.</h2></div>
            </div>
          </div>
        </div>
      </div>
      <section style="position:relative;padding:10px">
        <div
          style="background-color:transparent;background-image:url('/assets/static/images/subtraction-1.png');background-position:center left;background-repeat:no-repeat;background-size:64px auto;opacity:1;height:100%;width:100%;top:0;left:0;position:absolute"></div>
        <div class="MuiBox-root mui-style-0" style="margin:40px 0;position:relative">
          <div class="MuiContainer-root MuiContainer-maxWidthLg mui-style-1qsxih2">
            <div class="MuiBox-root mui-style-1ruxp1v"><h4
              class="MuiTypography-root MuiTypography-h4 mui-style-1x4c8a9">Latest News</h4></div>
            <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-3 mui-style-1h77wgb">
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 mui-style-19egsyp">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root mui-style-nrvgkh">
                  <a
                    href="https://www.businessdailyafrica.com/bd/corporate/companies/solv-kenya-sme-loans-hit-sh106-million-on-strong-credit-demand-3987420"
                    target="_blank" class="mui-style-401lwn-cardLink"><img
                    class="MuiCardMedia-root MuiCardMedia-media MuiCardMedia-img mui-style-2xf8fd-cardMedia"
                    src="https://www.businessdailyafrica.com/resource/image/3987446/landscape_ratio16x9/1160/652/3410d47762fee9be59b121c21b056a90/wy/solv.jpg"
                    height="230" alt=""/></a>
                  <div class="MuiCardContent-root mui-style-1qw96cp"><span
                    class="MuiTypography-root MuiTypography-overline MuiTypography-gutterBottom mui-style-xhqqso"
                    style="color:#8E8E93">October 17, 2022 6:21pm</span><h4
                    class="MuiTypography-root MuiTypography-h4 mui-style-1pchi8d-cardTitleBox"><a
                    href="https://www.businessdailyafrica.com/bd/corporate/companies/solv-kenya-sme-loans-hit-sh106-million-on-strong-credit-demand-3987420"
                    target="_blank" class="mui-style-nzqwpq-cardTitle">Solv Kenya SME loans hit Sh106 million on strong
                    credit demand</a></h4></div>
                  <div class="MuiCardActions-root MuiCardActions-spacing mui-style-3zukih" style="padding:16px"><a
                    href="https://www.businessdailyafrica.com/bd/corporate/companies/solv-kenya-sme-loans-hit-sh106-million-on-strong-credit-demand-3987420"
                    target="_blank" rel="noreferrer" class="mui-style-401lwn-cardLink">Read More
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-m4hou4-cardLinkIcon"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowCircleRightIcon">
                      <path
                        d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-10 1H8v-2h4V8l4 4-4 4v-3z"></path>
                    </svg>
                  </a></div>
                </div>
              </div>
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 mui-style-19egsyp">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root mui-style-nrvgkh">
                  <a
                    href="https://www.businessdailyafrica.com/bd/lifestyle/personal-finance/digitising-supply-chain-to-unlock-credit-lines-3962674"
                    target="_blank" class="mui-style-401lwn-cardLink"><img
                    class="MuiCardMedia-root MuiCardMedia-media MuiCardMedia-img mui-style-2xf8fd-cardMedia"
                    src="http://mohameda184.sg-host.com/wp-content/uploads/2022/10/biz-1024x576.jpeg" height="230"
                    alt=""/></a>
                  <div class="MuiCardContent-root mui-style-1qw96cp"><span
                    class="MuiTypography-root MuiTypography-overline MuiTypography-gutterBottom mui-style-xhqqso"
                    style="color:#8E8E93">October 10, 2022 2:36pm</span><h4
                    class="MuiTypography-root MuiTypography-h4 mui-style-1pchi8d-cardTitleBox"><a
                    href="https://www.businessdailyafrica.com/bd/lifestyle/personal-finance/digitising-supply-chain-to-unlock-credit-lines-3962674"
                    target="_blank" class="mui-style-nzqwpq-cardTitle">Digitising supply chain to unlock credit
                    lines</a></h4></div>
                  <div class="MuiCardActions-root MuiCardActions-spacing mui-style-3zukih" style="padding:16px"><a
                    href="https://www.businessdailyafrica.com/bd/lifestyle/personal-finance/digitising-supply-chain-to-unlock-credit-lines-3962674"
                    target="_blank" rel="noreferrer" class="mui-style-401lwn-cardLink">Read More
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-m4hou4-cardLinkIcon"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowCircleRightIcon">
                      <path
                        d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-10 1H8v-2h4V8l4 4-4 4v-3z"></path>
                    </svg>
                  </a></div>
                </div>
              </div>
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 mui-style-19egsyp">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root mui-style-nrvgkh">
                  <a
                    href="https://africabusinesscommunities.com/tech/tech-news/solv-kenya-in-kes-780m-invoice-financing-partnership/"
                    target="_blank" class="mui-style-401lwn-cardLink"><img
                    class="MuiCardMedia-root MuiCardMedia-media MuiCardMedia-img mui-style-2xf8fd-cardMedia"
                    src="/assets/static/images/Solv-Kenya.jpeg" height="230" alt=""/></a>
                  <div class="MuiCardContent-root mui-style-1qw96cp"><span
                    class="MuiTypography-root MuiTypography-overline MuiTypography-gutterBottom mui-style-xhqqso"
                    style="color:#8E8E93">October 10, 2022 2:33pm</span><h4
                    class="MuiTypography-root MuiTypography-h4 mui-style-1pchi8d-cardTitleBox"><a
                    href="https://africabusinesscommunities.com/tech/tech-news/solv-kenya-in-kes-780m-invoice-financing-partnership/"
                    target="_blank" class="mui-style-nzqwpq-cardTitle">Solv Kenya in KES 780m invoice financing
                    partnership</a></h4></div>
                  <div class="MuiCardActions-root MuiCardActions-spacing mui-style-3zukih" style="padding:16px"><a
                    href="https://africabusinesscommunities.com/tech/tech-news/solv-kenya-in-kes-780m-invoice-financing-partnership/"
                    target="_blank" rel="noreferrer" class="mui-style-401lwn-cardLink">Read More
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-m4hou4-cardLinkIcon"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowCircleRightIcon">
                      <path
                        d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-10 1H8v-2h4V8l4 4-4 4v-3z"></path>
                    </svg>
                  </a></div>
                </div>
              </div>
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 mui-style-19egsyp">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root mui-style-nrvgkh">
                  <a
                    href="https://hapakenya.com/2022/09/23/solve-kenya-acquires-ksh-780-million-for-onward-lending-to-smes/"
                    target="_blank" class="mui-style-401lwn-cardLink"><img
                    class="MuiCardMedia-root MuiCardMedia-media MuiCardMedia-img mui-style-2xf8fd-cardMedia"
                    src="/assets/static/images/Solv-Kenya.jpeg" height="230" alt=""/></a>
                  <div class="MuiCardContent-root mui-style-1qw96cp"><span
                    class="MuiTypography-root MuiTypography-overline MuiTypography-gutterBottom mui-style-xhqqso"
                    style="color:#8E8E93">October 10, 2022 2:33pm</span><h4
                    class="MuiTypography-root MuiTypography-h4 mui-style-1pchi8d-cardTitleBox"><a
                    href="https://hapakenya.com/2022/09/23/solve-kenya-acquires-ksh-780-million-for-onward-lending-to-smes/"
                    target="_blank" class="mui-style-nzqwpq-cardTitle">Solv Kenya acquires Ksh. 780 Million for onward
                    lending to SMEs</a></h4></div>
                  <div class="MuiCardActions-root MuiCardActions-spacing mui-style-3zukih" style="padding:16px"><a
                    href="https://hapakenya.com/2022/09/23/solve-kenya-acquires-ksh-780-million-for-onward-lending-to-smes/"
                    target="_blank" rel="noreferrer" class="mui-style-401lwn-cardLink">Read More
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-m4hou4-cardLinkIcon"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowCircleRightIcon">
                      <path
                        d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-10 1H8v-2h4V8l4 4-4 4v-3z"></path>
                    </svg>
                  </a></div>
                </div>
              </div>
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 mui-style-19egsyp">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root mui-style-nrvgkh">
                  <a
                    href="https://www.businessdailyafrica.com/bd/markets/capital-markets/solv-kenya-to-lend-smes-sh780m-3958586"
                    target="_blank" class="mui-style-401lwn-cardLink"><img
                    class="MuiCardMedia-root MuiCardMedia-media MuiCardMedia-img mui-style-2xf8fd-cardMedia"
                    src="/assets/static/images/stanchart.jpeg" height="230" alt=""/></a>
                  <div class="MuiCardContent-root mui-style-1qw96cp"><span
                    class="MuiTypography-root MuiTypography-overline MuiTypography-gutterBottom mui-style-xhqqso"
                    style="color:#8E8E93">October 10, 2022 2:32pm</span><h4
                    class="MuiTypography-root MuiTypography-h4 mui-style-1pchi8d-cardTitleBox"><a
                    href="https://www.businessdailyafrica.com/bd/markets/capital-markets/solv-kenya-to-lend-smes-sh780m-3958586"
                    target="_blank" class="mui-style-nzqwpq-cardTitle">Solv Kenya to lend SMEs Sh780m</a></h4></div>
                  <div class="MuiCardActions-root MuiCardActions-spacing mui-style-3zukih" style="padding:16px"><a
                    href="https://www.businessdailyafrica.com/bd/markets/capital-markets/solv-kenya-to-lend-smes-sh780m-3958586"
                    target="_blank" rel="noreferrer" class="mui-style-401lwn-cardLink">Read More
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-m4hou4-cardLinkIcon"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowCircleRightIcon">
                      <path
                        d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-10 1H8v-2h4V8l4 4-4 4v-3z"></path>
                    </svg>
                  </a></div>
                </div>
              </div>
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 mui-style-19egsyp">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root mui-style-nrvgkh">
                  <a
                    href="https://www.capitalfm.co.ke/business/2022/08/solv-kenya-in-supply-chain-financing-partnership-with-msmes-banks/"
                    target="_blank" class="mui-style-401lwn-cardLink"><img
                    class="MuiCardMedia-root MuiCardMedia-media MuiCardMedia-img mui-style-2xf8fd-cardMedia"
                    src="/assets/static/images/kenyans-walking.jpeg" height="230" alt=""/></a>
                  <div class="MuiCardContent-root mui-style-1qw96cp"><span
                    class="MuiTypography-root MuiTypography-overline MuiTypography-gutterBottom mui-style-xhqqso"
                    style="color:#8E8E93">October 10, 2022 2:31pm</span><h4
                    class="MuiTypography-root MuiTypography-h4 mui-style-1pchi8d-cardTitleBox"><a
                    href="https://www.capitalfm.co.ke/business/2022/08/solv-kenya-in-supply-chain-financing-partnership-with-msmes-banks/"
                    target="_blank" class="mui-style-nzqwpq-cardTitle">Solv Kenya in supply chain financing partnership
                    with MSMEs, Banks</a></h4></div>
                  <div class="MuiCardActions-root MuiCardActions-spacing mui-style-3zukih" style="padding:16px"><a
                    href="https://www.capitalfm.co.ke/business/2022/08/solv-kenya-in-supply-chain-financing-partnership-with-msmes-banks/"
                    target="_blank" rel="noreferrer" class="mui-style-401lwn-cardLink">Read More
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-m4hou4-cardLinkIcon"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowCircleRightIcon">
                      <path
                        d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-10 1H8v-2h4V8l4 4-4 4v-3z"></path>
                    </svg>
                  </a></div>
                </div>
              </div>
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 mui-style-19egsyp">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root mui-style-nrvgkh">
                  <a href="https://theexchange.africa/tech-business/solv-kenya-financing-partnership-msmes-banks/"
                     target="_blank" class="mui-style-401lwn-cardLink"><img
                    class="MuiCardMedia-root MuiCardMedia-media MuiCardMedia-img mui-style-2xf8fd-cardMedia"
                    src="/assets/static/images/mombasa-soko.jpeg" height="230" alt=""/></a>
                  <div class="MuiCardContent-root mui-style-1qw96cp"><span
                    class="MuiTypography-root MuiTypography-overline MuiTypography-gutterBottom mui-style-xhqqso"
                    style="color:#8E8E93">October 10, 2022 2:29pm</span><h4
                    class="MuiTypography-root MuiTypography-h4 mui-style-1pchi8d-cardTitleBox"><a
                    href="https://theexchange.africa/tech-business/solv-kenya-financing-partnership-msmes-banks/"
                    target="_blank" class="mui-style-nzqwpq-cardTitle">Solv Kenya partners with MSMES, banks for supply
                    chain financing</a></h4></div>
                  <div class="MuiCardActions-root MuiCardActions-spacing mui-style-3zukih" style="padding:16px"><a
                    href="https://theexchange.africa/tech-business/solv-kenya-financing-partnership-msmes-banks/"
                    target="_blank" rel="noreferrer" class="mui-style-401lwn-cardLink">Read More
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-m4hou4-cardLinkIcon"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowCircleRightIcon">
                      <path
                        d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-10 1H8v-2h4V8l4 4-4 4v-3z"></path>
                    </svg>
                  </a></div>
                </div>
              </div>
              <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4 mui-style-19egsyp">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root mui-style-nrvgkh">
                  <a
                    href="https://techmoran.com/2022/08/26/b2b-marketplace-for-msmes-solv-kenya-launches-a-supply-chain-financing-partnership/"
                    target="_blank" class="mui-style-401lwn-cardLink"><img
                    class="MuiCardMedia-root MuiCardMedia-media MuiCardMedia-img mui-style-2xf8fd-cardMedia"
                    src="/assets/static/images/kenya-map.jpeg" height="230" alt=""/></a>
                  <div class="MuiCardContent-root mui-style-1qw96cp"><span
                    class="MuiTypography-root MuiTypography-overline MuiTypography-gutterBottom mui-style-xhqqso"
                    style="color:#8E8E93">October 10, 2022 2:27pm</span><h4
                    class="MuiTypography-root MuiTypography-h4 mui-style-1pchi8d-cardTitleBox"><a
                    href="https://techmoran.com/2022/08/26/b2b-marketplace-for-msmes-solv-kenya-launches-a-supply-chain-financing-partnership/"
                    target="_blank" class="mui-style-nzqwpq-cardTitle">B2B marketplace for MSMEs Solv Kenya launches a
                    Supply Chain Financing partnership</a></h4></div>
                  <div class="MuiCardActions-root MuiCardActions-spacing mui-style-3zukih" style="padding:16px"><a
                    href="https://techmoran.com/2022/08/26/b2b-marketplace-for-msmes-solv-kenya-launches-a-supply-chain-financing-partnership/"
                    target="_blank" rel="noreferrer" class="mui-style-401lwn-cardLink">Read More
                    <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-m4hou4-cardLinkIcon"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="ArrowCircleRightIcon">
                      <path
                        d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10zm-10 1H8v-2h4V8l4 4-4 4v-3z"></path>
                    </svg>
                  </a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <app-footer></app-footer>
    </main>
  </div>
</div>

