<div id="__next">
  <div>
    <app-navbar></app-navbar>
    <main>
      <div
        style="background-image:url('/assets/static/images/services.jpg');background-position:center center;background-repeat:no-repeat;background-size:cover;padding:100px 50px;position:relative;min-height:326px">
        <div
          style="background-color:transparent;background-image:linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);opacity:0.62;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;height:100%;width:100%;top:0;left:0;position:absolute"></div>
        <div class="MuiContainer-root MuiContainer-maxWidthLg mui-style-1qsxih2" style="position:relative">
          <div class="MuiGrid-root MuiGrid-container mui-style-1d3bbye">
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 mui-style-iol86l"><h2
              class="MuiTypography-root MuiTypography-h4 mui-style-13jdgep"
              style="color:#fff;font-size:2.5rem;font-weight:bold">Quick, easy and timely access to finance</h2>
              <p class="MuiTypography-root MuiTypography-body1 mui-style-po1r0g"
                 style="color:#fff;font-size:15px;padding:15px 0">The SOLV platform provides small businesses with
                various financing options to support their growth. We are a financial services marketplace backed by
                technology and a network comprising several banks and Non-Bank Financial Institutions (NBFI)</p></div>
          </div>
        </div>
      </div>
      <div class="MuiContainer-root MuiContainer-maxWidthLg mui-style-6gob7l">
        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1 mui-style-tuxzvu">
          <div
            class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-5 MuiGrid-grid-lg-4 mui-style-6h7pcw"><p
            class="MuiTypography-root MuiTypography-body1 mui-style-po1r0g" style="font-size:1.5rem;font-weight:500">
            Supply Chain Finance</p>
            <p>Financing for inventory and receivables</p>
            <p
              style="font-size:15px;font-weight:normal;text-transform:none;font-style:normal;text-decoration:none;line-height:1.6em;letter-spacing:0px">
              The SOLV dealer finance program is an anchor-led invoice financing-based program. The program helps
              dealers and distributors leverage their relationship with their anchor by procuring financing for
              inventory and receivables at attractive rates from SOLV’s network of financial institutions. Managing
              requirements for financing during peak sales seasons is also simplified.</p></div>
          <div
            class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-2 MuiGrid-grid-lg-4 mui-style-evn5qq">
            <span
              style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%"><span
              style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%"><img
              style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0"
              alt="" aria-hidden="true"
              src="http://mohameda184.sg-host.com/wp-content/uploads/2022/09/Mask-Group-78738.png"/></span><img
              alt="" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
              decoding="async" data-nimg="intrinsic"
              style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"/><noscript><img
              alt=""
              srcSet="/_next/image?url=http%3A%2F%2Fmohameda184.sg-host.com%2Fwp-content%2Fuploads%2F2022%2F09%2FMask-Group-78738.png&amp;w=384&amp;q=75 1x, /_next/image?url=http%3A%2F%2Fmohameda184.sg-host.com%2Fwp-content%2Fuploads%2F2022%2F09%2FMask-Group-78738.png&amp;w=640&amp;q=75 2x"
              src="/_next/image?url=http%3A%2F%2Fmohameda184.sg-host.com%2Fwp-content%2Fuploads%2F2022%2F09%2FMask-Group-78738.png&amp;w=640&amp;q=75"
              decoding="async" data-nimg="intrinsic"
              style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%"
              loading="lazy"/></noscript></span></div>
          <div
            class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-5 MuiGrid-grid-lg-4 mui-style-6h7pcw">
            <ul class="MuiList-root MuiList-padding mui-style-1ontqvh">
              <li class="MuiListItem-root MuiListItem-gutters MuiListItem-padding mui-style-tkic87">
                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-vubbuv" focusable="false"
                     aria-hidden="true" viewBox="0 0 24 24" data-testid="CircleIcon"
                     style="font-size:8px;margin:10px;color:blue">
                  <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"></path>
                </svg>
                Collateral Free
              </li>
              <li class="MuiListItem-root MuiListItem-gutters MuiListItem-padding mui-style-tkic87">
                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-vubbuv" focusable="false"
                     aria-hidden="true" viewBox="0 0 24 24" data-testid="CircleIcon"
                     style="font-size:8px;margin:10px;color:blue">
                  <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"></path>
                </svg>
                Competitive interest rates
              </li>
              <li class="MuiListItem-root MuiListItem-gutters MuiListItem-padding mui-style-tkic87">
                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-vubbuv" focusable="false"
                     aria-hidden="true" viewBox="0 0 24 24" data-testid="CircleIcon"
                     style="font-size:8px;margin:10px;color:blue">
                  <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"></path>
                </svg>
                Assured and steady source of financing
              </li>
              <li class="MuiListItem-root MuiListItem-gutters MuiListItem-padding mui-style-tkic87">
                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-vubbuv" focusable="false"
                     aria-hidden="true" viewBox="0 0 24 24" data-testid="CircleIcon"
                     style="font-size:8px;margin:10px;color:blue">
                  <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"></path>
                </svg>
                Improved liquidity enabling expanded inventory
              </li>
              <li class="MuiListItem-root MuiListItem-gutters MuiListItem-padding mui-style-tkic87">
                <svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium mui-style-vubbuv" focusable="false"
                     aria-hidden="true" viewBox="0 0 24 24" data-testid="CircleIcon"
                     style="font-size:8px;margin:10px;color:blue">
                  <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"></path>
                </svg>
                Additional finance available during peak season
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>
