<mat-toolbar class="navigation-bar">
  <a routerLink="/">
    <img src="/assets/static/SOLV-LOGO.svg" class="mui-style-1ikct5o-logo" alt="Solv logo" title="Solv logo" />
  </a>
  <div class="large-screen">
    <button mat-button [matMenuTriggerFor]="whoWeAre">
      <span>Who We Are</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #whoWeAre="matMenu">
      <button mat-menu-item>
        <span>About</span>
      </button>
      <button mat-menu-item>
        <span>Vision & Values</span>
      </button>
      <button mat-menu-item>
        <span>Management Team</span>
      </button>
      <button mat-menu-item>
        <span>Partners</span>
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="whatWeDo">
      <span>What we do</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #whatWeDo="matMenu">
      <button mat-menu-item>
        <span>Financial Services</span>
      </button>
      <button mat-menu-item>
        <span>Business Services</span>
      </button>
      <button mat-menu-item>
        <span>E-Commerce</span>
      </button>
      <button mat-menu-item>
        <span>Partners</span>
      </button>
    </mat-menu>
    <button mat-button routerLink="/news">
      <span>Media</span>
    </button>
    <button mat-button>
      <span>Reach Us</span>
    </button>
  </div>
</mat-toolbar>
