<mat-toolbar class="navigation-bar">
  <a routerLink="/">
    <img src="/assets/static/SOLV-LOGO.svg" class="mui-style-1ikct5o-logo" alt="Solv logo" title="Solv logo" />
  </a>
  <div class="large-screen">
    <button mat-button [matMenuTriggerFor]="who_we_are">
      <span>Who We Are</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #who_we_are="matMenu">
      <button mat-menu-item routerLink="/about">
        <span>About</span>
      </button>
      <button mat-menu-item routerLink="/vision-value">
        <span>Vision & Values</span>
      </button>
      <button mat-menu-item routerLink="/management-team">
        <span>Management Team</span>
      </button>
      <button mat-menu-item routerLink="/partners">
        <span>Partners</span>
      </button>
      <button mat-menu-item routerLink="/careers">
        <span>Careers</span>
      </button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="what_we_do">
      <span>What we do</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #what_we_do="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="financial_services" routerLink="/financial-services">
        <span>Financial Services</span>
      </button>
      <button mat-menu-item routerLink="/business-services">
        <span>Business Services</span>
      </button>
      <button mat-menu-item routerLink="/e-commerce">
        <span>E-Commerce</span>
      </button>
    </mat-menu>
    <mat-menu #financial_services>
      <button mat-menu-item routerLink="/supply-chain-finance">
        <span>Supply Chain Finance</span>
      </button>
    </mat-menu>
    <button mat-button routerLink="/news">
      <span>Media</span>
    </button>
    <button mat-button routerLink="/reach-us">
      <span>Reach Us</span>
    </button>
  </div>
</mat-toolbar>
