<div id="__next">
  <div>
    <main>
      <div
        style="background-image:url('/assets/static/images/who-we-are.jpeg');background-position:center center;background-repeat:no-repeat;background-size:cover;padding:100px 50px;position:relative;min-height:326px">
        <div
          style="background-color:transparent;background-image:linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);opacity:0.62;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;height:100%;width:100%;top:0;left:0;position:absolute"></div>
        <div class="container mui-style-1qsxih2" style="position:relative">
          <div class="row mui-style-1d3bbye">
            <div class="MuiGrid-item col-xs-12 col-md-6 mui-style-iol86l">
              <div class="mui-style-kbn7if"><h2
                class="mui-style-1leyngk">Partners</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section style="position:relative;padding:10px">
        <div class="mui-style-0">
          <div class="container mui-style-1qsxih2">
            <div class="row mui-style-isbt42" style="margin:40px 0">
              <div class="MuiGrid-item col-xs-12 col-md-4 mui-style-19egsyp">
                <div class="mui-style-0"><h4
                  class="mui-style-1poyg3d">Our Financial
                  Institution Partners</h4>
                  <p class="mui-style-1y3ddxj">We are
                    able to match small businesses with the right Financial Institutions (Both Banks and Non-Bank
                    Financial Institutions) owing to our extensive network of partners.</p></div>
              </div>
              <div class="MuiGrid-item col-xs-12 col-md-8 mui-style-efwuvd">
                <div class="row mui-style-1h77wgb">
                  <div
                    class="MuiGrid-item col-xs-6 col-sm-6 col-md-4 mui-style-1ho082a"
                    style="background-image:url('/assets/static/images/partners/zanifu.png');background-position:center center;background-repeat:no-repeat;background-size:contain;height:7em"
                    title="Zanifu"></div>
                  <div
                    class="MuiGrid-item col-xs-6 col-sm-6 col-md-4 mui-style-1ho082a"
                    style="background-image:url('/assets/static/images/partners/gulf.png');background-position:center center;background-repeat:no-repeat;background-size:contain;height:7em"
                    title="Gulf African Bank"></div>
                  <div
                    class="MuiGrid-item col-xs-6 col-sm-6 col-md-4 mui-style-1ho082a"
                    style="background-image:url('/assets/static/images/partners/faulu.png');background-position:center center;background-repeat:no-repeat;background-size:contain;height:7em"
                    title="Faulu"></div>
                  <div
                    class="MuiGrid-item col-xs-6 col-sm-6 col-md-4 mui-style-1ho082a"
                    style="background-image:url('/assets/static/images/partners/century-dt-m.png');background-position:center center;background-repeat:no-repeat;background-size:contain;height:7em"
                    title="Century Microfinance"></div>
                  <div
                    class="MuiGrid-item col-xs-6 col-sm-6 col-md-4 mui-style-1ho082a"
                    style="background-image:url('/assets/static/images/partners/asante.png');background-position:center center;background-repeat:no-repeat;background-size:contain;height:7em"
                    title="Asante"></div>
                  <div
                    class="MuiGrid-item col-xs-6 col-sm-6 col-md-4 mui-style-1ho082a"
                    style="background-image:url('/assets/static/images/partners/sc.png');background-position:center center;background-repeat:no-repeat;background-size:contain;height:7em"
                    title="Standared Chartered"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section><img src="/assets/static/images/company.svg" alt="" loading="lazy" style="max-width:100%"/></section>
    </main>
  </div>
</div>
