<div id="__next">
  <div>
    <main style="min-height:100vh">
      <div
        style="background-image:url('/assets/static/images/who-we-are.jpeg');background-position:center center;background-repeat:no-repeat;background-size:cover;padding:100px 50px;position:relative;min-height:326px">
        <div
          style="background-color:transparent;background-image:linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);opacity:0.62;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;height:100%;width:100%;top:0;left:0;position:absolute"></div>
        <div class="MuiContainer-root MuiContainer-maxWidthLg mui-style-1qsxih2" style="position:relative">
          <div class="MuiGrid-root MuiGrid-container mui-style-1d3bbye">
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-6 mui-style-iol86l">
              <div class="MuiBox-root mui-style-kbn7if"><h2
                class="MuiTypography-root MuiTypography-h2 MuiTypography-gutterBottom mui-style-1leyngk">Privacy
                Policy</h2></div>
            </div>
          </div>
        </div>
      </div>
      <section style="position:relative;padding:10px">
        <div class="MuiBox-root mui-style-0" style="margin:40px 0;position:relative">
          <div class="MuiContainer-root MuiContainer-maxWidthLg mui-style-1qsxih2"><p
            class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">This privacy policy (“Policy”)
            will help you understand what information we collect, why we collect it, how we use it, including if and how
            we share the information with third parties, and the choices you have in relation to your information. This
            privacy policy (“Policy”) describes the manner in which Solv Kenya , a business of Standard Chartered Bank
            (“SOLV KENYA”) collects information/data from you, how we store, use, process and disclose such information,
            and the steps we take to protect such information.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">“We”, “our” and “us” refer
              to SOLV KENYA. “You” and “your” refer to the current and former visitors to the Website, User and/ or
              his/her/its Authorized Representative (defined below), directors or owners, as applicable.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">“We”, “our” and “us” refer
              to SOLV. “You” and “your” refer to the User and/ or his/her/its Authorized Representative, as applicable.
              All capitalised words found in these Terms of Service (“<b>Terms</b>”) are defined throughout the Terms.
            </p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">By accessing the Website
              (defined below) or using the SOLV KENYA Services (defined below), the User agrees that the User and the
              Authorized Representative have read and understood, and, agree to be bound by the Policy. This Policy is
              incorporated into and subject to the Terms of Service available at www.solv.co.ke.By using the Website,
              you expressly consent to our use and disclosure of your Personal Information and Sensitive Personal
              Information in accordance with this Policy.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">Further, if you are
              accessing the SOLV KENYA Services through the Mobile Application (defined below), then while this Policy
              shall apply to such use, there may be privacy terms (such as the terms imposed by mobile application
              stores like App Store (iOS), Android&#x27;s (Google) Play Store, Microsoft&#x27;s store, from time to
              time) which will govern the use of the Mobile Application.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">Further, this Policy applies
              to all current and former visitors to the Website. It is strongly recommended for you to return to this
              page periodically to review the most current version of the Policy.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">SOLV KENYA is committed to
              maintain the confidentiality, integrity and security of all information of our Users. It is important to
              read the entire Policy along with our Terms of Service carefully as some of the provisions affect your
              legal rights and obligations.</p><h6
              class="MuiTypography-root MuiTypography-h6 mui-style-1l9tgom-tosParagraph">1. Definitions</h6>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>Account</b> means the
              account created by the User on the Website after successful completion of registration.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>Authorized
              Representative</b> smeans the employee or authorised representative of the User who is specifically
              authorized to register on the Website on behalf of the User to apply for the SOLV KENYA Services.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>CIC</b> means a credit
              information company that has been granted a certificate of registration under the respective jurisdiction
              in which it is incorporated.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>Credit Information</b>means
              collectively the information you provide to us in the online application which pertains to your financial
              background and such other information obtained from the CIC.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>Mobile Application</b>
              means the mobile application belonging to SOLV KENYA which is developed and designed to run on various
              mobile operating systems, for providing the SOLV KENYA Services.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>Partner</b> means third
              party partners of SOLV KENYA from whom SOLV KENYA may obtain certain services in relation to the Website
              including but not limited to the CICs, verification companies, information repositories, data analytics
              providers, payment gateways etc. to provide the SOLV KENYA Services.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>Platform</b>means digital
              platform which currently is accessible to a closed set of users operated and maintained by SOLV KENYA, the
              front-end version of which is accessible through the Website and Mobile Application.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>Personal Information</b>
              is any information which can be used to identify you or from which you are identifiable. This includes but
              is not limited to your name, nationality, telephone number, bank details, email address, your image,
              government-issued identification numbers, biometric data, race, date of birth, marital status, religion,
              employment information and financial information.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>SOLV KENYA Services</b>
              means the service of providing the Website and the Platform which facilitates (i) the supply of financial
              services by third parties to Users, (ii) the provision of business services by third parties to Users and
              (iii) such other services that may be provided by SOLV KENYA on the Platform from time to time.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>Sensitive Personal
              Information (SPI)</b> means data pertaining to your race, national ID information, religious beliefs,
              background information (including financial and criminal records, where legally permissible), health data,
              disability, marital status and biometric data, as applicable.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>Third Party Service
              Providers</b> means service providers including banks, credit bureaus, service providers and logistics
              providers.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>Usage Information</b>
              means information that we automatically collect about how you access and interact with the SOLV KENYA
              Services.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>User</b> means any
              individual/organisation (as the case maybe) registered on the Website for using the SOLV KENYA Services.
            </p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>User Data</b> means any
              data submitted by the User or the Authorized Representative on behalf of the User, to or in relation to
              the SOLV KENYA Services.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph"><b>Website</b>means the
              domain www.solv.co.ke and/or the SOLV KENYA Mobile Application.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">Any term that is capitalised
              here in and not defined in this Policy shall have the meaning given to it in the Terms of Service
              available at www.solv.co.ke.</p><h6
              class="MuiTypography-root MuiTypography-h6 mui-style-1l9tgom-tosParagraph">2. Information We Collect</h6>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">2.1 User-Provided
              Information: This Policy applies to User Data collected from you or our Partners, such as details
              pertaining to your name, parentage, nationality, state/city of residence, residential address, e-mail
              address, date of birth, gender, contact number/mobile number, user IDs, passwords, net banking
              credentials, bank account details, recent photograph, signature image, income proof, GST number, credit
              score, credit information report, and other Know Your Customer ( KYC) documents including identity and
              address proof, driver license or other government issued identity proof, which may be shared/ uploaded by
              you, as and when you avail any SOLV KENYA Services, and to which SOLV KENYA may become privy to.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">2.2 Information We
              Automatically Collect: In addition to information you provide to us, we automatically collect certain
              information about how you access and interact with the SOLV KENYA Services (“Usage Information”). This
              Usage Information is a key part of how we improve your experience on our Website and Mobile Application
              and provide you with more personalized services. We may use various technologies to collect and store such
              Usage Information in connection with the SOLV KENYA Services. These may include things like cookies,
              browser web storage (e.g., HTML5), web beacons and similar technologies. There are four types of Usage
              Information we may collect:</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">a. Device Information. This
              is information about how you access SOLV KENYA Services, such as the operating system, hardware model,
              application or browser type and version, and unique identifiers associated with your device.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">b. Log Information. There
              are certain pieces of information we automatically collect in system logs or similar files about how you
              interact with SOLV KENYA Services, such as which features you visit or click on. This Log Information may
              also include things like your IP address, browser or device configuration, date and time of access and
              cookie information.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">c. Location Information. We
              may use certain information like your IP address or other Device Information or Log Information to
              estimate your location (e.g., your city or state). We may also request to use location-enabled services on
              your device (which typically provide GPS or Wi-Fi access point details) to enhance our services. We will
              only use these location-enabled services on your device with your consent.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">2.3 Third Party Web Beacons
              and Third-Party Buttons: We may display third-party content on the Website or Mobile Application,
              including third-party advertising. Third-party content may use cookies, web beacons, or other mechanisms
              for obtaining data in connection with your viewing of the third-party content on the Website.
              Additionally, we may implement third party buttons (such as “like” or “share” buttons, social media
              buttons, etc.) that may function as web beacons even when you do not interact with the button. Information
              collected through third-party web beacons and buttons is collected directly by these third parties, not by
              SOLV KENYA. Information collected by a third party in this manner is subject to that third party&#x27;s
              own data collection, use, and disclosure policies.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">2.4 Information from Other
              Sources: Many of our features rely on information about you that we collect from Partners and Third Party
              Service Providers, such as information pertaining to you in relation to the goods and service taxes,
              income tax reports, Credit Information, your corporate information, etc. from the records maintained by
              the income tax department and other governmental authorities or our Partners.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">3. <b>Express Consent</b>
            </p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">3. Express Consent</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">(d) You will be responsible
              for safeguarding the security and confidentiality of your Account and password and you will not share,
              assign or transfer your Account or reveal your password to any third party or do anything else that might
              jeopardize the security of your Account; and that you will be solely responsible and liable for all
              actions/instructions initiated using your Account. You may be held liable for losses incurred by SOLV or
              any other User due to authorized or unauthorized use of your Account as a result of your failure in
              keeping your Account information secure and confidential and/or not promptly notifying SOLV in the event
              of any beach of security.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">3.1 By providing User Data
              as mentioned hereinabove, you expressly consent to SOLV KENYA (including its marketing channels, Partners
              and Third Party Service Providers) to contact you through SMS, call, e-mail, push notifications, social
              media and/or other channels that may be used for communication from time to time and with follow-up
              communication in relation to the SOLV KENYA Services, for imparting product knowledge, offering
              promotional offers running on the Website, and various other offers offered by the Third Party Service
              Providers or SOLV KENYA. If you do not wish to receive the aforesaid communications from us or if you want
              to withdraw any consent which you have previously given, please contact the Data Protection Officer via
              the details stated in this Policy.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">3.2 The usage of the Website
              may also require you to provide consent for inputting/ uploading your User Data (including but not limited
              to user IDs and passwords), as may be necessary to process your application through the Platform. Any User
              Data which requires to be keyed in/ uploaded is required for enabling hassle free, faster and paperless
              (to the extent possible) processing of applications for SOLV KENYA Services availed to you.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">3.3 You hereby authorize and
              expressly provide consent for us to share your User Data with third parties including but not limited to
              Partners including CICs, and Third-Party Service Providers.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">3.4 SOLV KENYA reserves the
              right (and you expressly authorize SOLV KENYA) to share or disclose your User Data when SOLV KENYA
              determines, in its sole discretion, that the disclosure of such information is necessary or appropriate
              under applicable laws.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">4. Credit Information
              Reports</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">(i) You consent to SOLV
              collecting, using and processing your 4.1 Your Credit Information is procured from CICs, and SOLV KENYA
              has no control over the content or accuracy of information provided in your Credit Information by CICs.
              SOLV KENYA receives this information from a CIC once you provide authorization/ consent in a template
              provided incorporated in the Terms of Service to appoint SOLV KENYA as your lawfully appointed authorized
              agent/ representative for receiving your Credit Information and provide your consent on the CIC&#x27;s
              portal as well on your behalf.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">4.2 By authorizing us to
              receive your Credit Information report, you agree that SOLV KENYA and CICs shall be entitled to rely on
              your authorization and consent granted by you to SOLV KENYA.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">4.3 SOLV KENYA may analyze
              and use your Credit Information in order to provide SOLV KENYA Services to you. Any derivative outputs so
              developed independently by SOLV KENYA may be shared with Third Party Service Providers to enable them to
              provide you with the financial services you have applied for on the Website or Mobile Application, and you
              consent to such access by Third Party Service Providers of your Credit Information including your PI and
              SPI.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">5. How We Use the
              Information We Collect</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">We use the User Data in a
              variety of ways in providing the SOLV KENYA Service and operating our business, including the
              following:</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">5.1 To operate, maintain,
              enhance and provide all features of the SOLV KENYA Service, to provide services and information that you
              request, to respond to comments and questions and otherwise to provide support to Users, and to process
              and deliver entries and rewards in connection with promotions that may be offered from time to time on the
              Website.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">5.2 For training and quality
              monitoring.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">5.3 To access your Credit
              Information from the CIC on your behalf and create our independent derivative outputs from such Credit
              Information for the provision of SOLV KENYA.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">5.4 To understand and
              analyze the usage trends and preferences of our Users, to improve the SOLV KENYA Services, and to develop
              new products, services, features, and functionality.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">5.5 To contact you for
              administrative purposes such as customer service or to send communications, including updates on
              promotions and events, relating to products and services offered by us and by third parties and you hereby
              consent to receiving such communications by agreeing to these terms.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">5.6 We may use cookies and
              automatically collected information to: (i) personalize the SOLV KENYA Service, such as remembering
              information about you so that you will not have to re-enter it during your visit or the next time you
              visit the Website or use the Mobile Application; (ii) provide customized advertisements, content, and
              information; (iii) monitor and analyze the effectiveness of the SOLV KENYA Service and third-party
              marketing activities; (iv) monitor aggregate site usage metrics such as total number of Users, features
              used, and pages viewed; and (v) track your interactions, submissions, status or other activities on the
              Platform.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">5.7 We will not retain
              information you provide for longer than is required for the purposes for which the information may
              lawfully be used or is otherwise required under any other law for the time being in force.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">6. When We Disclose or
              Transfer your Information</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">Except as described in this
              Policy, we will not disclose User Data to third parties without your consent, and in the manner detailed
              in this Policy. We may disclose information to third parties if you consent to us doing so, as well as in
              the following circumstances:</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">6.1 For availing services
              from Users, Third Party Service Providers or Partners – We provide our Third Party Service Providers your
              User Data to enable them to provide certain services to you via the Platform, and to Partners in order to
              obtain information from them, as described in this Policy. We may share your SPI with our Partners and
              Third-Party Service Providers. We may also provide your User Data to other Users to facilitate your
              transactions with such Users on the Platform.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">6.3 When we collaborate with
              third parties to provide or improve SOLV KENYA Services – We may work with other third parties to provide
              website and application development, hosting, maintenance, and other services for us. These third parties
              may have access to or process information about you as part of providing those services for us. Generally,
              we limit the information provided to these service providers to that which is reasonably necessary for
              them to perform their functions, and we require them to agree to maintain the confidentiality of such
              information.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">6.5 As part of a corporate
              change – User Data maybe disclosed and otherwise transferred to an acquirer, successor, or assignee as
              part of any merger, acquisition, debt financing, sale of assets, or similar transaction, or in the event
              of any insolvency, bankruptcy, or receivership in which information is transferred to one or more third
              parties as one of our business assets.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">6.6 Business or marketing
              purposes – We may make certain aggregated, automatically-collected, or otherwise non-personal information
              available to third parties for various purposes, including (i) compliance with various reporting
              obligations; (ii) for business or marketing purposes; or (iii) to assist such parties in understanding our
              Users&#x27; interests, habits, and usage patterns for certain programs, content, services, advertisements,
              promotions, and/or functionality available through the SOLV KENYA Service.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">6.7 For legal reasons – We
              may disclose User Data if required to do so by law or in the good-faith belief that such action is
              necessary to comply with applicable laws, in response to a court order, judicial or other government
              subpoena or warrant, or to otherwise cooperate with law enforcement or other governmental agencies.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">6.8 With your consent –
              There may also be other limited contexts in which we share specific types of User Data with your express
              consent.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">7. Your Privacy Choices</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">You may, of course, decline
              to share certain information with us, in which case we may not be able to provide to you some of the
              features and functionality of the Website, Mobile Application and the Platform. You may update, correct,
              or delete your Account information and preferences at any time by accessing your Account preferences page
              on the Website. If you wish to delete, access or amend any User Data that you have shared with us, you may
              contact us at support@solv.co.ke. If you wish to withdraw consent that you have given to this Privacy
              Policy or to the Terms of Service, you may contact us at support@solv.co.ke. Please note that while any
              changes you make will be reflected in active user databases within a reasonable period of time, we may
              retain all information you submit for backups, archiving, prevention of fraud and abuse, analytics,
              satisfaction of legal obligations, or where we otherwise reasonably believe that we have a legitimate
              reason to do so.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">If you receive commercial
              emails from us, you may unsubscribe at any time by following the instructions contained within the email.
              You may also opt out from receiving commercial emails from us by sending your request to us by email at
              support@solv.co.ke .We may allow you to view and modify settings relating to the nature and frequency of
              promotional communications that you receive from us through the Account preferences page on the
              Website.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">Please be aware that if you
              opt out of receiving commercial emails from us or otherwise modify the nature or frequency of promotional
              communications you receive from us, it may take up to ten business days for us to process your request,
              and you may continue receiving promotional communications from us during that period. Additionally, even
              after you opt out from receiving commercial messages from us, you will continue to receive administrative
              messages from us regarding the SOLV KENYA Services you have applied or opted for.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">You may choose to opt out of
              SMS promotional services as well. To opt out, send an SMS (keyword with number to be defined). Once you
              send the request, it may take up to 10 business days to process your request. Further, upon a request to
              opt-out of SMS communication, you will be able to opt out of only promotional messages. You will continue
              to receive transaction related messages.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">8. Data Security</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">We use certain physical,
              managerial, and technical safeguards that are designed to improve the integrity and security of
              information that we collect and maintain as required by applicable law. We have implemented upto date
              standard for all processes supporting the development and delivery of SOLV KENYA services. Please be aware
              that no security measures are perfect or impenetrable. We cannot and do not guarantee that information
              about you will not be accessed, viewed, disclosed, altered, or destroyed by breach of any of our physical,
              technical, or managerial safeguards.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">9. Confidentiality of Login
              ID and Password</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">You are responsible for
              maintaining the security of your login ID and password for your Account and must not provide these
              credentials to any third party. If you believe that they have been stolen or been made known to others,
              you must contact us immediately at support@solv.co.ke. We are not responsible if someone else accesses
              your Account through the login credentials they have obtained from you or through a violation by you of
              this Policy or our Terms of Service.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">10. Changes and Updates to
              this Policy</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">We may amend or update our
              Policy. Please revisit this page periodically to stay aware of any changes to this Policy, which we may
              update from time to time. We may provide you notice of material amendments to this Policy, as appropriate,
              and update the “Last Modified” date at the top of this Policy. Your continued use of the SOLV KENYA
              Services confirms your acceptance of our Policy, as amended. If you do not agree to our Policy, as
              amended, you must stop using our Services.</p>
            <p class="MuiTypography-root MuiTypography-body1 mui-style-g4x58b-tosParagraph">If you have any concerns or
              questions in relation to this Policy, you may address them to the Data Protection Officer via
              support@solv.co.ke .</p></div>
        </div>
      </section>
    </main>
  </div>
</div>
