<div id="__next">
  <div>
    <main>
      <div
        style="background-image:url('/assets/static/images/services.jpg');background-position:center center;background-repeat:no-repeat;background-size:cover;padding:100px 50px;position:relative;min-height:326px">
        <div
          style="background-color:transparent;background-image:linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);opacity:0.62;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;height:100%;width:100%;top:0;left:0;position:absolute"></div>
        <div class="container mui-style-1qsxih2" style="position:relative">
          <div class="row mui-style-1d3bbye">
            <div class="MuiGrid-item col-xs-12 col-md-6 mui-style-iol86l">
              <h2 class="mui-style-13jdgep"
              style="color:#fff;font-size:2.5rem;font-weight:bold">E-commerce</h2>
              <h2 class="mui-style-13jdgep"
                  style="color:#fff;font-size:20.4px;font-weight:bold;margin:20px 0">B2B Ecommerce Marketplace (Coming Soon )</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container mui-style-1dqnv9s">
        <div class="row mui-style-tuxzvu">
          <div class="MuiGrid-item col-xs-12 col-md-6 mui-style-iol86l">
            <p>
            Growing your business becomes easy once you start buying or selling on the SOLV B2B online marketplace. If you are a seller, SOLV helps you reach new and verified customers. If you are a buyer,
            SOLV helps you source quality products at the best prices from verified and pre-screened suppliers. Coming soon.
            </p>
          </div>
          <div class="MuiGrid-item col-xs-12 col-md-6 mui-style-6e7nl3">
            <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
            <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
              <img style="display:block;max-width:100%;width:307px;height:307px;background:none;opacity:1;border:0;margin:0;padding:0;border-radius: 20px;" alt="" aria-hidden="true"
              src="/assets/static/images/e-commerce.jpg"/>
          </span>
          </span>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
