<div id="__next">
  <div>
    <main>
      <div
        style="background-image:url('/assets/static/images/team.jpg');background-position:center center;background-repeat:no-repeat;background-size:cover;padding:100px 50px;position:relative;min-height:326px">
        <div
          style="background-color:transparent;background-image:linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);opacity:0.62;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;height:100%;width:100%;top:0;left:0;position:absolute"></div>
        <div class="container mui-style-1qsxih2" style="position:relative">
          <div class="row mui-style-1d3bbye">
            <div class="MuiGrid-item col-xs-12 col-md-6 mui-style-iol86l">
              <div class="mui-style-kbn7if"><h2
                class="mui-style-1leyngk">Our Team</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section style="position:relative;padding:10px">
        <div
          style="background-color:transparent;background-image:url('/assets/static/images/subtraction-1.png');background-position:center left;background-repeat:no-repeat;background-size:64px auto;opacity:1;height:100%;width:100%;top:0;left:0;position:absolute"></div>
        <div class="mui-style-0" style="position:relative">
          <div class="container mui-style-1qsxih2">
            <h4 class="mui-style-i2e54v" style="margin:50px 0">Our Leadership Team</h4>
            <div class="row mui-style-1yektxh" style="margin:40px 0">
              <div class="MuiGrid-item col-xs-12 col-md-3 mui-style-11gj215">
                <div
                  class="mui-style-1l7fd50">
                  <div class="mui-style-ap9k6f-cardMediaContainer"><img
                    src="/assets/static/images/team/sheila-.png" loading="lazy" class="mui-style-1wpmsno-cardMedia" alt=""/></div>
                  <div class="mui-style-1qw96cp"><h4
                    class="mui-style-hty6c0"
                    style="margin-bottom:20px">Sheila Kimani-Omukuba</h4>
                    <p class="mui-style-1bjde74" style="margin-bottom:20px">
                      CHIEF EXECUTIVE OFFICER, KENYA</p>
                    <p class="mui-style-1rdunv9">Sheila joined SC Ventures in
                      2021 as Venture Lead &amp; CEO to set-up SOLV Kenya operations.</p></div>
                </div>
              </div>
              <div class="MuiGrid-item col-xs-12 col-md-3 mui-style-11gj215">
                <div
                  class="mui-style-1c9r1ir">
                  <div class="mui-style-ap9k6f-cardMediaContainer"><img
                    src="/assets/static/images/team/benson-mwangi.png" loading="lazy" class="mui-style-1wpmsno-cardMedia" alt=""/>
                  </div>
                  <div class="mui-style-1qw96cp"><h4
                    class="mui-style-hty6c0"
                    style="margin-bottom:20px">Benson Mwangi</h4>
                    <p class="mui-style-1bjde74" style="margin-bottom:20px">
                      COMMERCIAL LEAD – FINANCIAL SERVICES</p>
                    <p class="mui-style-1rdunv9">Benson joined SC Ventures in
                      August 2021 as the Commercial Lead Financial services to drive the commercialization of SOLV
                      Kenya.</p></div>
                </div>
              </div>
              <div class="MuiGrid-item col-xs-12 col-md-3 mui-style-11gj215">
                <div
                  class="mui-style-1c9r1ir">
                  <div class="mui-style-ap9k6f-cardMediaContainer"><img
                    src="/assets/static/images/team/valery-nandi.png" loading="lazy" class="mui-style-1wpmsno-cardMedia" alt=""/>
                  </div>
                  <div class="mui-style-1qw96cp"><h4
                    class="mui-style-hty6c0"
                    style="margin-bottom:20px">Valery Nandi</h4>
                    <p class="mui-style-1bjde74" style="margin-bottom:20px">
                      Head of Risk and Compliance</p>
                    <p class="mui-style-1rdunv9">Valery joined SC Ventures in
                      2022 as the Head of Risk and Compliance to establish and coordinate the management of Solvezy
                      Kenya Technology Ltd. Enterprise Risk, whilst ensuring compliance with applicable regulations</p>
                  </div>
                </div>
              </div>
              <div class="MuiGrid-item col-xs-12 col-md-3 mui-style-11gj215">
                <div
                  class="mui-style-1c9r1ir">
                  <div class="mui-style-ap9k6f-cardMediaContainer"><img
                    src="/assets/static/images/team/lydiah-mengere.png" loading="lazy" class="mui-style-1wpmsno-cardMedia" alt=""/>
                  </div>
                  <div class="mui-style-1qw96cp"><h4
                    class="mui-style-hty6c0"
                    style="margin-bottom:20px">Lydiah Mengere Kiragu</h4>
                    <p class="mui-style-1bjde74" style="margin-bottom:20px">
                      ADMINISTRATION AND PROJECT TEAM LEAD</p>
                    <p class="mui-style-1rdunv9">Lydiah joined SC Ventures in
                      2022 as the Administration and Project team Lead.</p></div>
                </div>
              </div>
              <div class="MuiGrid-item col-xs-12 col-md-3 mui-style-11gj215">
                <div
                  class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation0 MuiCard-root mui-style-1c9r1ir">
                  <div class="mui-style-ap9k6f-cardMediaContainer"><img
                    src="/assets/static/images/team/geoffrey-odera.png" loading="lazy" class="mui-style-1wpmsno-cardMedia" alt=""/>
                  </div>
                  <div class="mui-style-1qw96cp"><h4
                    class="mui-style-hty6c0"
                    style="margin-bottom:20px">Geoffrey Odera</h4>
                    <p class="mui-style-1bjde74" style="margin-bottom:20px">
                      HEAD OF OPERATIONS &amp; CUSTOMER SUPPORT SERVICES</p>
                    <p class="mui-style-1rdunv9">Geoffrey joined SC Ventures in
                      2022 as the Head of Operations and Customer service for SOLV Kenya.</p></div>
                </div>
              </div>
              <div class="MuiGrid-item col-xs-12 col-md-3 mui-style-11gj215">
                <div
                  class="mui-style-1c9r1ir">
                  <div class="mui-style-ap9k6f-cardMediaContainer"><img
                    src="/assets/static/images/team/jane-luchiri.jpg" loading="lazy" class="mui-style-1wpmsno-cardMedia" alt=""/>
                  </div>
                  <div class="mui-style-1qw96cp"><h4
                    class="mui-style-hty6c0"
                    style="margin-bottom:20px">Jane Luchiri</h4>
                    <p class="mui-style-1bjde74" style="margin-bottom:20px">
                      Financial Manager</p>
                    <p class="mui-style-1rdunv9">Jane joined SOLV in 2022 as the
                      Finance Manager, SOLV Kenya.</p></div>
                </div>
              </div>
              <div class="MuiGrid-item col-xs-12 col-md-3 mui-style-11gj215">
                <div
                  class="mui-style-1c9r1ir">
                  <div class="mui-style-ap9k6f-cardMediaContainer"><img
                    src="/assets/static/images/team/dorothy-seteyio.png" loading="lazy" class="mui-style-1wpmsno-cardMedia" alt=""/>
                  </div>
                  <div class="mui-style-1qw96cp"><h4
                    class="mui-style-hty6c0"
                    style="margin-bottom:20px">Dorothy Seteyio Koikai</h4>
                    <p class="mui-style-1bjde74" style="margin-bottom:20px">
                      Human Resources Manager</p>
                    <p class="mui-style-1rdunv9">Dorothy joined SOLV in July 2022
                      as a HR Manager, SOLV Kenya.</p></div>
                </div>
              </div>
              <div class="MuiGrid-item col-xs-12 col-md-3 mui-style-11gj215">
                <div
                  class="mui-style-1c9r1ir">
                  <div class="mui-style-ap9k6f-cardMediaContainer"><img
                    src="/assets/static/images/team/duncan-kiberu.png" loading="lazy" class="mui-style-1wpmsno-cardMedia" alt=""/>
                  </div>
                  <div class="mui-style-1qw96cp"><h4
                    class="mui-style-hty6c0"
                    style="margin-bottom:20px">Duncan Kiberu</h4>
                    <p class="mui-style-1bjde74" style="margin-bottom:20px">
                      PRODUCT LEAD</p>
                    <p class="mui-style-1rdunv9">Duncan joined SC Ventures in
                      2022, as the Product Lead for SOLV Kenya.</p></div>
                </div>
              </div>
              <div class="MuiGrid-item col-xs-12 col-md-3 mui-style-11gj215">
                <div
                  class="mui-style-1c9r1ir">
                  <div class="MuiBox-root mui-style-ap9k6f-cardMediaContainer"><img
                    src="/assets/static/images/team/micheal-kamau.png" loading="lazy" class="mui-style-1wpmsno-cardMedia" alt=""/>
                  </div>
                  <div class="mui-style-1qw96cp"><h4
                    class="mui-style-hty6c0"
                    style="margin-bottom:20px">Michael Michie Kamau</h4>
                    <p class="mui-style-1bjde74" style="margin-bottom:20px">
                      Chief Technology Officer</p>
                    <p class="mui-style-1rdunv9">Michael Michie joined SC
                      Ventures in 2022 as the CTO of SOLV Kenya.</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
