<div id="__next">
  <div>
    <main>
      <div
        style="background-image:url('assets/static/images/who-we-are.jpeg');background-position:center center;background-repeat:no-repeat;background-size:cover;padding:100px 50px;position:relative;min-height:326px">
        <div
          style="background-color:transparent;background-image:linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);opacity:0.62;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;height:100%;width:100%;top:0;left:0;position:absolute"></div>
        <div class="container mui-style-1qsxih2" style="position:relative">
          <div class="row mui-style-1d3bbye">
            <div class="MuiGrid-item col-xs-12 col-md-6 mui-style-iol86l">
              <div class="mui-style-kbn7if"><h2
                class="mui-style-1leyngk">Our Vision</h2>
                <p class="mui-style-g3sv13">Simplify
                  growth for micro, small and medium businesses in Kenya. SOLV Kenya aims to offer a digital
                  B2B ecosystem in a trusted environment, whilst easing access to Finacial Services, Business Services
                  as well as an e-commerce platform.</p>
                <!--<p class="mui-style-51a70q">SOLV Kenya aims to offer a digital
                  B2B ecosystem in a trusted environment, whilst easing access to Finacial Services, Business Services
                  as well as an e-commerce platform.</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <section style="position:relative;padding:10px">
        <div class="mui-style-16ljhan"><img src="/assets/static/images/subtraction-1.png" loading="lazy" width="32"
                                                        height="271.5"/></div>
        <div class="mui-style-0">
          <div class="container mui-style-1qsxih2">
            <div class="row mui-style-isbt42" style="margin:40px 0">
              <div class="MuiGrid-item col-xs-12 col-md-6 mui-style-iol86l">
                <div class="mui-style-0"><h4
                  class="mui-style-1vtoao">Our
                  Values</h4>
                  <p class="mui-style-qyvl99">We at
                    Solv believe that strong core values are the foundation of an inspirational business model. Our
                    people and customers are at the centre of everything that we do. In our endeavour to ensure that we
                    prioritize them, our values act as the guiding light. They give focus and direction to the team,
                    helping them work toward the larger common goal. Our values define the way of life for Solvers.</p>
                  <p class="mui-style-16dsbt9">Our values are interwoven
                    throughout the cultural tapestry of Solv. Our culture keeps evolving with the contributions that
                    each person makes. We believe that culture is a melting pot of personal beliefs and values that each
                    Solver brings to the family. Each one of us hold these values paramount and live by them, every day.
                    Our values are the guiding principles for acceptable behaviour at work and help us go from strength
                    to strength. Internalizing these standards has resulted in a powerful team of Solvers that are
                    immensely dedicated to catering to the needs of our customers.</p></div>
              </div>
              <div class="MuiGrid-item col-xs-12 col-md-3 mui-style-qzhbje">
                <ul class="mui-style-1vwylmn-list">
                  <li style="font-size:17px;margin-top:12.5px;padding-bottom:12.5px">
                    <svg class="mui-style-1p5p21c"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CircleIcon"
                         style="vertical-align:middle;margin-top:-2px">
                      <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"></path>
                    </svg> <!-- -->Dependability
                  </li>
                  <li style="font-size:17px;margin-top:12.5px;padding-bottom:12.5px">
                    <svg class="mui-style-1p5p21c"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CircleIcon"
                         style="vertical-align:middle;margin-top:-2px">
                      <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"></path>
                    </svg> <!-- -->Integrity
                  </li>
                  <li style="font-size:17px;margin-top:12.5px;padding-bottom:12.5px">
                    <svg class="mui-style-1p5p21c"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CircleIcon"
                         style="vertical-align:middle;margin-top:-2px">
                      <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"></path>
                    </svg> <!-- -->Respect
                  </li>
                </ul>
              </div>
              <div class="MuiGrid-item col-xs-12 col-md-3 mui-style-qzhbje">
                <ul class="mui-style-1vwylmn-list">
                  <li style="font-size:17px;margin-top:12.5px;padding-bottom:12.5px">
                    <svg class="mui-style-1h4ve1q"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CircleIcon"
                         style="vertical-align:middle;margin-top:-2px">
                      <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"></path>
                    </svg> <!-- -->Reliability
                  </li>
                  <li style="font-size:17px;margin-top:12.5px;padding-bottom:12.5px">
                    <svg class="mui-style-1h4ve1q"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CircleIcon"
                         style="vertical-align:middle;margin-top:-2px">
                      <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"></path>
                    </svg> <!-- -->Transparency
                  </li>
                  <li style="font-size:17px;margin-top:12.5px;padding-bottom:12.5px">
                    <svg class="mui-style-1h4ve1q"
                         focusable="false" aria-hidden="true" viewBox="0 0 24 24" data-testid="CircleIcon"
                         style="vertical-align:middle;margin-top:-2px">
                      <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2z"></path>
                    </svg> <!-- -->Innovation
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section><img src="/assets/static/images/company.svg" loading="lazy" style="max-width:100%"/></section>
    </main>
  </div>
</div>
